*.brf
*.gz
*.log
*.aux
*.pdf
*.pyc
*.png
*.jpg
*ipynb_*
*._*
*.so
*.o
*.pth.tar
bbox.c
doc
.DS_STORE
.DS_Store
.idea
.project
.pydevproject
_ext
scene_videos/
scene_videos_construction/
scene_videos_overtake/
selected_scenes/
